* {
    border: 1px solid black;
}

#outer-container {
    margin: auto;
    width: 50%;
}

#contaier {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#round-container {
    display: flex;
    justify-content: space-around;
}

#choice-info {
    display: flex;
    flex-direction: row;
}

#inner-points-display {
    display: flex;
    justify-content: space-around;
}