* {
    border: 1px solid black;
}

h1,
h3 {
    text-align: center;
}


#outer-container {
    margin: auto;
    width: 50%;
}

#contaier {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#round-container {
    display: flex;
    justify-content: space-around;
}

#choice-info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#winner-info {
    text-align: center;
}

#inner-points-display {
    display: flex;
    justify-content: space-around;
}

#buttons {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10px;
}

#reset {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 25%;
}

.final-victor {
    text-align: center;
}